@inject CBlocksHelperVM BlocksHelper
@model CCoinDataM 

<div class="dc-coin-info">
    <h2 class="dcg-h2 dc-coin-info__title">@Model.name_full to USD price chart</h2>
    <div class="row">
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">Price</div>
                <h3 class="dcg-h3 dc-coin-info__value">@BlocksHelper.ToCurr(Model.usd_price ?? 0)</h3>
            </div>
        </div>
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">Market cap</div>
                <h3 class="dcg-h3 dc-coin-info__value">@BlocksHelper.ToCurr(Model.market_cap ?? 0)</h3>
            </div>
        </div>
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">24 Volume</div>
                <h3 class="dcg-h3 dc-coin-info__value">@BlocksHelper.ToCurr(Model.volume_24h ?? 0)</h3>
            </div>
        </div>
        <div class="col">
            <div class="dc-coin-info__item">
                <div class="dc-coin-info__caption dcg-caption">24h change</div>
                <h3 class="dcg-h3 dc-coin-info__value dc-coin-info__value_positive"><change>@Model.day_percent_change</change></h3>
            </div>
        </div>
    </div>  
    @await Html.PartialAsync("_GraphWidget", (coin1: Model.name, coin2: "usd"))
</div>