@inject CBlocksHelperVM BlocksHelper
@model IEnumerable<CCoinDataVM>

<div class="dc-coins-table">
    <div class="dcg-table">
        <div class="dcg-table__tr dc-coins-table__head">
            <span class="dcg-table__ti dcg-table__th dcg-table__first dcg-caption">Name</span>
            <span class="dcg-table__ti dcg-table__th dcg-table__second dcg-caption">Price</span>
            <span class="dcg-table__ti dcg-table__th dcg-table__three dcg-caption">Market Cap</span>
            <span class="dcg-table__ti dcg-table__th dcg-table__four dcg-caption">24 Volume</span>
            <span class="dcg-table__ti dcg-table__th dcg-table__fine dcg-caption">24h change</span>
        </div>

        @foreach (var coin in Model)
        {
            <a asp-controller="Coins" asp-action="Coin" asp-route-coin="@coin.data.name.ToLower()" class="dcg-table__tr dc-coins-table__item dcj-btn">
                <sapn class="dcg-table__ti dcg-table__td dcg-table__first">
                    @await Html.PartialAsync("_Coin", (data: coin.data, link: false))
                </sapn>

                <sapn class="dcg-table__ti dcg-table__td dcg-table__second">
                    @if (coin.data.usd_price != null)
                    {
                        <span class="dc-coins-table__text-box dcg-caption">@BlocksHelper.ToCurr(coin.data.usd_price ?? 0)</span>
                    }
                </sapn>
                <sapn class="dcg-table__ti dcg-table__td dcg-table__three"><span class="dc-coins-table__text-box dcg-caption">@BlocksHelper.ToCurr(coin.data.market_cap ?? 0)</span></sapn>
                <sapn class="dcg-table__ti dcg-table__td dcg-table__four"><span class="dc-coins-table__text-box dcg-caption">@BlocksHelper.ToCurr(coin.data.volume_24h ?? 0)</span></sapn>
                <sapn class="dcg-table__ti dcg-table__td dcg-table__five"><span class="dc-coins-table__text-box dcg-caption"><change>@coin.data.day_percent_change</change></span></sapn>
            </a>
        }
    </div>
</div>