@*@model I_download-btn *@
@inject CBlocksHelperVM BlocksHelper

@{
    var items = BlocksHelper.GetDownloadBtnData();
    var current = items.First();

    var items_mobile = BlocksHelper.GetDownloadBtnDataMobile();
    var current_mobile = items_mobile.First();
}

<div class="dc-download-btn dc-download-btn_desctop">
    <div class="dc-download-btn__button dcg-btn">
        <div class="dc-download-btn__value dcj-btn">
            <img class="dcj-curr-img" src="@BlocksHelper.GetUrl()images/@current[0]" alt="@current[2]" />
            <img src="@BlocksHelper.GetUrl()images/down.svg" alt="arrow-down" />
        </div>
        <a href="@current[1]" class="dc-download-btn__caption dcj-curr-link" target="_blank">@current[2]</a>
    </div>
    <ul class="dc-download-btn__select dcj-select">
        @foreach (var item in items)
        {
            <li class="dcj-item dc-download-btn__logo" data-img="@BlocksHelper.GetUrl()images/@item[0]" data-url="@item[1]" data-title="@item[2]"><a href="#"><img class="dc-download-btn__img" src="@BlocksHelper.GetUrl()images/@item[0]" alt="@item[2]" /></a></li>
        }
    </ul>
</div>


<div class="dc-download-btn dc-download-btn_mobile">
    <div class="dc-download-btn__button dcg-btn">
        <div class="dc-download-btn__value dcj-btn">
            <img class="dcj-curr-img" src="@BlocksHelper.GetUrl()images/@current_mobile[0]" alt="@current_mobile[2]" />
            <img src="@BlocksHelper.GetUrl()images/down.svg" alt="arrow-down" />
        </div>
        <a href="@current_mobile[1]" class="dc-download-btn__caption dcj-curr-link" target="_blank">@current_mobile[2]</a>
    </div>
    <ul class="dc-download-btn__select dcj-select">
        @foreach (var item in items_mobile)
        {
            <li class="dcj-item dc-download-btn__logo" data-img="@BlocksHelper.GetUrl()images/@item[0]" data-url="@item[1]" data-title="@item[2]"><a href="#"><img class="dc-download-btn__img" src="@BlocksHelper.GetUrl()images/@item[0]" alt="@item[2]" /></a></li>
        }
    </ul>
</div>