@model CMenuVM

<nav class="dc-footer-menu">
    <h5 class="dcg-caption dc-footer-menu__title">@Model.Title</h5>

    <ul>
        @foreach (var item in Model.Links)
        {
            <li><a class="dc-footer-menu__item" asp-controller="@item.controller" asp-action="@item.action" asp-all-route-data="@item.data"><span>@item.title.ToLower()</span></a></li>
        }
    </ul>
     
    @if (Model.MoreLink != null)
    {
        <a class="dc-footer-menu__last-item" asp-controller="@Model.MoreLink.controller" asp-action="@Model.MoreLink.action" asp-all-route-data="@Model.MoreLink.data">@Model.MoreLink.title</a> 
    }
</nav>