@inject CBlocksHelperVM BlocksHelper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">

    <link type="image/x-icon" href="@BlocksHelper.GetUrl()images/favicon.ico" rel="shortcut icon">
    
    <link rel="stylesheet" href="@BlocksHelper.GetUrl()css/lib.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@BlocksHelper.GetUrl()css/style.css" asp-append-version="true" />
</head>
<body class="@ViewData["PageClass"]">
    @await Html.PartialAsync("_Header")
    @RenderBody()
    @await Html.PartialAsync("_Footer")
    @*@RenderSection("PageHead")*@

    @await Html.PartialAsync("_Ga")

    <script src="@BlocksHelper.GetUrl()js/lib.min.js"></script>
    <script src="@BlocksHelper.GetUrl()js/main.js"></script>
</body>
</html>
