@model IEnumerable<CCoinPairDataVM>

<div class="dc-pairs-table">
    <table>
        <tr class="dc-pairs-table__head">
            <th class="dcg-caption">From - To</th>
            <th class="dcg-caption">Price</th>
            <th class="dcg-caption">Network Fee</th>
            <th class="dcg-caption">Instant volume</th>
            <th class="dcg-caption">Traded  volume)</th>
            @*<th class="dcg-caption">Traded  volume @await Html.PartialAsync("_TableOrderIcons", (order: "usd_price", title: ""))</th>*@
            <th class="dcg-caption">Availability</th>
        </tr>

        @foreach (var pair in Model)
        {
            <tr class="dc-pairs-table__item dcj-btn">
                <td> 
                    <div class="dc-pairs-table__coin-logo">@await Html.PartialAsync("_Coin", pair.coin1)</div>
                    @await Html.PartialAsync("_Coin", pair.coin2)
                    <a class="dcg-dn dcj-link" asp-controller="CoinPairs" asp-action="Pair" asp-route-coin1="@pair.coin1.name" asp-route-coin2="@pair.coin2.name"></a>
                </td>

                <td>
                    @if (pair.data.price_1 != null)
                    {
                        <span class="dc-pairs-table__text-box dcg-caption">≈ $@pair.data.price_1</span>
                    }
                </td>
                <td><span class="dc-pairs-table__text-box dcg-caption">$@pair.networkFee</span></td>
                <td><span class="dc-pairs-table__text-box dcg-caption">@pair.coin1.volume_24h @pair.coin1.name</span></td>
                <td><span class="dc-pairs-table__text-box dcg-caption">$@pair.coin2.volume_24h</span></td>
                <td>
                    <div class="dc-pairs-table__device">
                        <img src="/images/apps-icon.svg" alt="icon-mobile" />
                        <span class="dcg-caption">@pair.availability</span>
                    </div>
                </td> 
            </tr>
        }      
    </table>
</div>