@inject CBlocksHelperVM BlocksHelper
@*@model I_soc-btns *@

<ul class="dc-soc-btns">
    <li><a href="#"><img src="@BlocksHelper.GetUrl()images/dots-grey.svg" alt="dots" /></a></li>
    <li><a href="https://twitter.com/atomex_official"><img src="@BlocksHelper.GetUrl()images/twitter-grey.svg" alt="twitter" /></a></li>
    <li><a href="https://github.com/atomex-me"><img src="@BlocksHelper.GetUrl()images/github-grey.svg" alt="github" /></a></li>
    <li><a href="tg://resolve?domain=atomex_official"><img src="@BlocksHelper.GetUrl()images/telegram-grey.svg" alt="telegram" /></a></li>
    <li><a href="https://www.youtube.com/channel/UCg-jUk-6MVEMSZ4Qhfrt40Q"><img src="@BlocksHelper.GetUrl()images/youtube-grey.svg" alt="youtube" /></a></li>
</ul>